* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-family: raleway, sans-serif;
	color: white;
}

html {
	background-color: black;
	position: relative;
	/* overflow: hidden; */
	height: fit-content;
}

body {
	display: flex;
	flex-direction: column;
	text-align: center;
	/* background-color: rgb(27, 9, 34);
	background-image: radial-gradient(
		rebeccapurple 0.075rem,
		transparent 0.075rem
	); */
	background-size: 1.5rem 1.5rem;
	width: 100%;
}

section {
	position: relative;
	align-self: center;
	/* height: 100vh; */
	width: 100%;
	max-width: 1024px;
	overflow: hidden;
}

#canvas {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}

#home {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#profile {
	border-radius: 50%;
	transform: scaleX(-1);
}

#greeting {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: max-content;
	padding: 2.5rem;
}

.pickle {
	margin-top: 3rem;
	filter: invert();
	align-self: center;
	cursor: pointer;
	border-radius: 1.5rem 9rem 4.5rem 8rem / 1.5rem 2rem 2.5rem 3.5rem;
	transition: transform 0.1s ease-in-out;
	user-select: none;
}

.add-icon:hover,
.pickle:hover {
	transform: rotate(-4deg) scale(1.05);
}

h1 {
	align-self: center;
	justify-content: center;
	margin-bottom: 3rem;
	font-size: 2.5rem;
	font-weight: 400;
}

#name {
	font-weight: 800;
	font-size: 5rem;
}

@media (max-width: 800px) {
	#home {
		justify-content: center;
	}
	h1 {
		font-size: 2rem;
	}
	#name {
		font-size: 3rem;
	}
	#profile {
		display: none;
	}
	.pickle {
		width: 10rem;
	}
}

::selection {
	background-color: rgb(131, 22, 131);
	color: white;
}

.scroll-arrow {
	position: absolute;
	top: 90dvh;
	left: 50%;
	transform: translateX(-50%);
	transform: rotate(-90deg);
	opacity: 0;
	animation: arrowAnimation 3.5s ease-in-out infinite;
	animation-delay: 7s;
}

@keyframes arrowAnimation {
	0%,
	10% {
		transform: translateX(-50%) translateY(0);
		opacity: 0;
	}
	50% {
		transform: translateX(-50%) translateY(30px);
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	90%,
	100% {
		transform: translateX(-50%) translateY(50px);
		opacity: 0;
	}
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	min-height: fit-content;
}

.frosted {
	/* padding: 2rem; */
	background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(3px);
	border-radius: 1rem;
	max-width: 750px;
	width: 100%;
}

#about-text {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

h2 {
	font-size: 2rem;
}

.indent {
	text-align: justify;
	text-indent: 2.5rem;
	line-height: 1.5;
}

#contact-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

label {
	display: block;
}

input,
textarea,
button {
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
	background-color: rgba(255, 255, 255, 0.075);
}

textarea {
	line-height: 1rem;
	resize: none;
	height: 5rem;
}

button {
	margin: auto;
	padding: 0.5rem 1rem;
	border: 0.075rem solid;
	background-color: #00000000;
	cursor: pointer;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.075);
}

#contact-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	label[for="name"],
	input[type="text"] {
		grid-column: 1;
	}
	label[for="email"] {
		grid-row: 2;
	}

	label[for="email"],
	input[type="email"] {
		grid-column: 2;
	}

	h2,
	label[for="message"],
	textarea,
	button {
		grid-column: span 2;
	}
}

@media (max-width: 600px) {
	#contact-form {
		label,
		input,
		textarea,
		button {
			grid-column: span 2 !important;
		}
		label[for="email"] {
			grid-row: 4;
		}
	}
}

input:focus,
textarea:focus {
	outline: white solid 0.075rem;
}

.error {
	outline: red solid 0.075rem;
}

textarea::-webkit-scrollbar {
	width: 0.5rem;
	cursor: default;
}

textarea::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 0.5rem;
	border: 0.075rem solid white;
	margin-right: 5px !important;
	margin: 0;
	cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: white;
	transition: background-color 5000s ease-in-out 0s;
}

.rotating-text {
	position: relative;
	width: 100%;
}

.rotating-text .word {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	opacity: 0;
}
.rotating-text .word .letter {
	transform-origin: center center 1.5rem;
	width: fit-content;
	display: block;
	text-align: center;
}
.rotating-text .word .letter.out {
	transform: rotateX(90deg);
	transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text .word .letter.in {
	transition: 0.38s ease;
}
.rotating-text .word .letter.behind {
	transform: rotateX(-90deg);
}

#projects {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	overflow: visible;
}

#projects .wrapper {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	flex-wrap: wrap;
	justify-content: center;
}

.project {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-radius: 0.5rem;
	width: 20rem;
	overflow: hidden;
	.pickle {
		margin: 0.5rem 0;
		width: 7rem;
	}
}

.project-image {
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	width: 100%;
	filter: saturate(0.6) contrast(1.2);
	height: 15rem;
}

.technologies {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	padding-bottom: 0.5rem;
	span {
		background-color: white;
		border-radius: 0.5rem;
		color: black;
		padding: 0.1rem 0.3rem;
		font-size: 0.75rem;
	}
}
.add-icon {
	cursor: pointer;
	height: 7rem;
	width: 7rem;
	filter: invert();
	transition: transform 0.1s ease-in-out;
	border-radius: 50%;
}

#gameCanvas {
	display: block;
	margin: 5rem auto 0;
	z-index: 10;
	margin-bottom: 10rem;
	max-width: 100%;
}

#footer-bg {
	position: absolute;
	width: 100%;
	height: 12rem;
	background-color: #368d04aa;
	border-radius: 70% 100% 0 0 / 70% 50% 0 0;
	bottom: 0;
}

#about {
	margin: 5rem 0;
}

#about-text,
#contact-form {
	padding: 2rem;
}

#submitButton {
	cursor: pointer;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#submitButton:disabled {
	background-color: #ffffff22;
	cursor: not-allowed;
}

.loader {
	position: absolute;
	width: 16px;
	height: 16px;
	border: 2px solid white;
	border-top: 2px solid transparent;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	opacity: 0;
	transition: opacity 0.3s;
}

.button-text,
.checkmark {
	opacity: 1;
	transition: opacity 0.3s;
}

.checkmark {
	font-size: 18px;
	display: none;
}

button.loading .button-text {
	opacity: 0;
}

button.loading .loader {
	opacity: 1;
}

button.sent .loader {
	opacity: 0;
}

button.sent .checkmark {
	display: block;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
